
<div class="footer-padding"></div>
  <div class="footer text-center mt-5">
    <a href="#"><i class="err fab fa-twitter"></i></a>
   <a href="#"><i class="err fab fa-facebook-f"></i></a>

   <a href="#"><i class="err fab fa-instagram"></i></a>
   <a href="#">  <i class="err fas fa-envelope"></i></a>
    <p>© Copyright 2020 LMT</p>

  </div>
</div>
</body>
</html>
