<%- include('partials/header') %>
 <div class="res">



         <h1 class="sub-head"><%=subject %></h1>

        <div class='container lay'>
          <div class="row">
             <div class="col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/img/p.jpg" class="card-img ty" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Question papers</h5>
                          <p class="card-text">Last 5 years questions.</p>
                          <a class="btn btn-danger" href="#">click to  get them</a>
                        </div>
                      </div>
                    </div>
                  </div>
             </div>
             <div class="col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/img/v.jpg" class="card-img ty" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Videos</h5>
                          <p class="card-text">Selected Videos </p>
                          <a class="btn btn-danger" href="/userHome/resource/<%=subject%>">click to watch</a>
                        </div>
                      </div>
                    </div>
                  </div>
             </div>
             <br> <br> <br>
             <div class="col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/img/b.jpg" class="card-img ty" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Ebooks</h5>
                            <ul>
                             <li> <a href="">book1</a><br></li>
                             <li><a href="">book2</a><br></li>
                             <li> <a href="">book3</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
             </div>

             <div class="col-md-6 col-sm-12">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/img/d.jpg" class="card-img ty" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Notes</h5>
                          <ul>
                            <li> <a href="#hwnt">Note 1</a><br></li>
                            <li><a href="#hwntt">Note 2</a><br></li>
                           </ul>

                        </div>
                      </div>
                    </div>
                  </div>
             </div>
          </div>
       </div>
         <br>
    







</div>

<a href="/userHome"  style="margin-left:690px;" class="btn btn-primary">back</a>

<%- include('partials/footer') %>
