.h-100{
  height: 100%;
}

.academy-logo{
  margin-top: 30px;
  margin-left: 20px;
  justify-content: space-between;
 padding-bottom: 20px;
}

.logo-img{
  width:500px;
  height: 80px;
  }

.login-content{
 justify-content: center;
 margin-top: 30px;
 margin-left: 70px;
 padding-top: 20px;
padding-bottom: 20px;
}

.big{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
}
.tt{
 margin-left: 500px;
  margin-right: 500px;
  background-color: #fff;
  border: 4px solid rgba(121,9,26,1);
  box-shadow:  0px 33px 25px 0 #000,
               0 66px 15px 0px #ccc,
               0 99px 5px 0px #fff;
}
.img-div{
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.gen-img{
  height: 200px;
  border-radius: 100%;
  border: 2px solid rgba(121,9,26,1);

}
.details{
  padding-top: 10px;
  text-align:left;
  justify-content: center;
  }

.name{
  text-align: right;
  margin-right: 40px;

}
.name-span{
  text-decoration: underline;
 background-color: #F8C11A;
font-weight: bold;
font-family: serif;
}
.thead-dark{
  background-color: black;
  color:white;
  text-align: center;
}
.table-td{
  padding-left: 20px;
  background-color: #ccc;
}
.ln{
  border:2px solid black;
}
.ln:hover{
  color:black;
  background-color: #ccc;
}
.lk{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
}

.secret-text{
 padding-left: 10px;
  text-align:left;
  font-size:30px;
  font-family: 'Pacifico';
}

.foot{
  text-align: right;
  color: grey;
  font-size: 10px;
}

.u{
  border: 2px solid black;
  max-height: 600px;
  overflow: scroll;
}

.g{
  margin: 5% 30% 4%;

}
.you{
  background-color: white;
  margin:30px;
}
.secret-content{
  font-family:serif;
  text-align: left;
  font-size: 15px;
  padding-left: 10px;
}
.iot{
  display:inline-flex;
  margin: 3%;
  text-align: center;
}
.yi{
  background: rgb(143,98,8);
  background: linear-gradient(90deg, rgba(143,98,8,1) 0%, rgba(183,66,8,1) 0%, rgba(255,196,0,1) 84%);
  border: 2px solid #6b2e05;
  min-height: 200px;
}
.yit{
  color:white;
  text-shadow: 5px 2px 4px rgba(2,0,36,1);
  text-align: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
  padding: 10px 10px 0;
}

.card-img-top{
  height : 200px;
  width:100%;
}

.lg{
  height:500px;
  overflow: hidden scroll;
}

.vid{
  background-image: url("/img/vid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

iframe{
  border: 3px solid black;
  border-radius: 2%;
}
.res{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.sub-head{
  text-align:center;
  color:#F46792;
  text-shadow: 5px 2px 4px rgba(2,0,36,1);
  font-size:55px;
  font-family: "Dancing Script",sans-serif;
}
.lay{
  margin-left: : 10%;
  margin-top: 3%;
}
.ty{
    height: 145px;;
    border: 0 solid black;
    border-radius: 3%;
    padding: 5%;
}
