*{
  margin: 0;
  padding: 0;
}
.cont{
  display: flex;
  justify-content:space-around;
}
.web-title{
  font-family: 'Lora', serif;
  font-size: 3.4rem;
  color: rgba(180,20,56);
  text-shadow:1px 2px 5px rgba(2,0,36,1);
}
.log-reg{
  padding-top:5%;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  color: rgba(10,20,156);
}
.not-und:hover{
  text-decoration: none;
}

.navitt{
  left:13%;
  top:13%;
  width: 70%;
  position: absolute;
}
.navigation-section{
  z-index: 3;
  height: 4rem;
  background-color:  rgba(10,30,140,0.6);
  border: 3px solid  rgba(10,30,140);
  color: white;
}
.iss{
  cursor: pointer;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-link{
  font-size: 20px;
  font-weight: bolder;
  font-family: serif;
  color: white;
}
.nav-link:hover{
  color:white;
  text-shadow:1px 2px 5px rgba(2,0,36,1);
}
.nav-item{
  padding: 5px 30px;
}
.navbar-toggler-icon{
  color:white;
}
.nav-pills{
 padding: 5px 140px;
}

.top-section-1{
  background-image: linear-gradient(120deg, rgba(246, 211, 101, 0.7) 0%,rgba(253, 160, 133, 0.8) 100%), url("/img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  height: 700px;
}
.top-section-2{
  background-image: linear-gradient(to top, rgba(251, 194, 235, 0.7) 0%, rgba(166, 193, 238, 0.8) 100%),url("/img/bg-2.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.colr{
  background: red;
  height:40px;
  width: 30px;
  top:50%;
  margin-left: 30px;
  margin-right: 30px;
}
.text-top{
  display: inline-block;
  width:800px;
  padding-top: 230px;
  padding-left: 200px;
  animation: chs 1s ease-in-out;
}
.h1-top{
  color:white;
  font-weight: bolder;
  font-family:'Bungee Inline';
  font-size: 50px;
  text-shadow: 10px 2px 5px rgba(2,0,36,1);
  padding-bottom: 10px;
  animation: chs 1s ease-out;
}

@keyframes chs {
  to { transform: translateY(0);}
  from { transform: translateY(1000px);}
}
.h2-top{
  color:white;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 5px 2px 5px rgba(121,9,26,1);
  margin-bottom: 60px;
  animation: chs 1s ease-out;
  animation-delay: 0.2s;
}
.academy-btn{
  display: inline-block;
  min-width: 160px;
  height: 65px;
  color: #ffffff;
  padding: 0 40px;
  font-size: 14px;
  line-height: 65px;
  margin-bottom: 200px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
  transition: background 2s ;
  font-weight: 600;
}
.academy-btn:hover{
 font-size: 16px;
}
.red{
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
 height:auto;
 width:200px;
 padding: 0;
 position: relative;
 margin-left: 50px;
}

.rt{
  margin-left: 180px;
  margin-right: 240px;
  margin-top: 10px;
}
.rr{
    margin-left: 200px;
    margin-right: 250px;

}
.middle-1{
  position: relative;
  left:200px;
  top:-80px;
  width: 70%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
  color:white;
  z-index: 2;
 font-size: 25px;
}
.middle-text{
  display:inline;
  padding: 20px 15px;
  line-height: 1.5px;
}
.pd-50{
  padding-top: 50px;
  padding-bottom:50px;
  padding-left:30px;
}
.ii{
  color:yellow;
    text-shadow: 2px 2px 5px #885901;
  margin-right: 10px;
  font-size: 15px;
}
.pop{
  font-size: 14px;
  color:red;
  font-family: serif;
  font-weight: bold;
  justify-content: flex-end;
}
.bttn{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
  line-height: 1rem;
  justify-content: center;
  padding: 15px;
  color: white;
  font-weight: 400;
  font-family:inherit;
  width:auto;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top{
  height: 200px;
}
.middle-courese .card {
  height:450px;
  animation: ch 3s ease-in-out;
}

@keyframes ch {
  to { transform: translateX(0);}
  from { transform: translateX(-1000px);}
}
.testimonial{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%),url(bg-2.jpg);
  background-blend-mode:multiply;
  margin-top: 20px;
  color: white;
}

.section-heading{
  padding-top: 20px;
  text-align: center;
  line-height: 2rem;
  text-shadow: 2px 2px 5px blue;
  padding-bottom: 40px;
}
span{
  text-shadow: 2px 2px 5px blue;
}
.p-test1{
  font-family: 'Caveat';
  font-size: 20px;
  line-height: normal;
}
.p-test2{
  font-family: 'Sacramento';
  font-size: 20px;
  line-height: normal;
}
.p-test3{
  font-family: 'Damion';
  font-size: 20px;
  line-height: normal;
}
.p-test4{
  font-family: 'Covered By Your Grace';
  font-size: 20px;
  line-height: normal;
}
.test-img{
  border-radius:60%;
  height: 150px;
  max-width: 200px;
  margin-right: 15px;
}
.single-testimonial{
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}
.see{
  background:rgba(0,0,0,0.6);
  border-radius:10px 10px 10px 10px ;
  box-shadow: -1px 1px 60px 10px black inset;
  text-shadow: 2px 2px 5px blue;
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}
.see:hover{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 51%, rgba(255,0,18,1) 100%);
  font-family: serif;
  font-weight: bolder;
  text-shadow: none;
  color: white;
  }
  #footer{
    text-align: center;
    margin:5%;
  }
  .err{
    margin:1.5%;
    color: black;
  }
  #team {
    background: #eee !important;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}
.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#team .card {
    border: none;
    background: #ffffff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}
.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
    min-height: 312px;
}
.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}
.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}
.frontside .card .card-body img {
    width: 200px;
    height:200px;
    border-radius: 50%;
}

.jumbotron{
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  margin: auto;
  width: 60%;
  border: 3px solid green;
  padding: 20px;
  margin-top: 30px;
}
.aboutUs{
  text-align:center;
  color:red;
  font-size:75px;
  font-weight:bold;
  text-shadow: 2px 2px 5px blue;
  font-family: 'Abril Fatface', cursive;"
}
